{% extends 'layout.html.twig' %}

<<<<<<< HEAD
{% block navbar %}
    {{ parent() }}
    <p>Bienvenue!</p>
{% endblock %}

{% block content %}
    <h1>Hello {{ name }}!</h1>
{% endblock %}
=======
<body>
    <h1>Hello {{ name }} !</h1>
</body>

</html>
>>>>>>> c11880251dbd90aa4d1ec8033cb9f8d2576a6fb7
